[Unit]
Description=LLama a un script que actualiza un archivo
Wants=tempo.timer

[Service]
Type=simple
User=root
ExecStart= /home/alejandro/entornoDeProgramacion/precioDolar/scriptsscript.sh

[Install]
WantedBy=multi-user.target
