[Unit]
Description=Temporizador para servicio.service
Requires=servicio.service

[Timer]
Unit=servicio.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
